.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 480px;
}

.fighter-preview___info {
  font-family: 'Act Of Rejection';
  text-transform: capitalize;
  text-align: center;
  align-self: center;
  min-height: 150px;
  min-width: 150px;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
}
